name: Publish packages

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  packages: write
  pages: write

jobs:
  publish-packages:
    name: Publish packages
    if: startsWith(github.event.head_commit.message, 'chore: publish new release')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          filter: tree:0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish
        uses: changesets/action@v1
        id: changesets
        with:
          version: pnpm version
          publish: pnpm tag
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    outputs:
      ref: ${{ github.ref }}
      published: ${{ steps.changesets.outputs.published }}

  deliver-packages:
    name: Deliver packages
    uses: ./.github/workflows/registries.yml
    needs: publish-packages
    permissions:
      id-token: write
      contents: read
      packages: write
    with:
      ref: ${{ needs.publish-packages.outputs.ref }}
    secrets: inherit
    if: ${{ needs.publish-packages.outputs.published }}

  deploy-to-static-file-host:
    name: Deploy to Static File Host
    uses: ./.github/workflows/static-file-host.yml
    needs: publish-packages
    with:
      ref: ${{ needs.publish-packages.outputs.ref }}
    if: ${{ needs.publish-packages.outputs.published }}
