name: Deploy to registries

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

jobs:
  build-and-deploy:
    name: Build and deploy packages
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Configure node for NPM as registry
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
          registry-url: https://registry.npmjs.org
          scope: '@openscript-ch'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish packages to NPM
        run: pnpm publish -r --access public --no-git-checks --provenance

      - name: Configure node for Github registry
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://npm.pkg.github.com'
          scope: '@openscript-ch'

      - name: Authenticate with the GitHub Package Registry
        run:
          echo "//npm.pkg.github.com:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc

      - name: Publish package on Github NPM registry
        run: pnpm publish -r --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
